In [1]:
import chardet
import pandas as pd

filename = 'datasets/2015_Nepal_earthquake_and_2013_Queensland_floods_datasets/ACL_ICWSM_2018_datasets/queensland/2013_Queensland_Floods_test.tsv'

with open(filename, 'rb') as file:
    print(chardet.detect(file.read()))

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [3]:
import pandas as pd

dataset = pd.read_csv(filename, delimiter='\t')
print(dataset.shape)
dataset.head()

(3011, 3)

,tweet_id,text,label
0,296728042179534848,"@MarkSDobson I always thought that, big lad ai...",not_relevant
1,295429269948100608,@Maree_22 And this going to continue until tom...,not_relevant
2,295354447297642496,Room Available in Jacobs Ridge Ormeau $200.00 ...,not_relevant
3,295783277355225088,Dotti Size 6 Sailor/ Air Hostess / Japanese Sc...,not_relevant
4,296843667321278464,@Purpletiger79 I really enjoyed doing a photo ...,not_relevant

In [4]:
dataset['label'].unique()

array(['not_relevant', 'relevant'], dtype=object)

In [5]:
dataset.loc[dataset['label'] == 'relevant']

,tweet_id,text,label
1386,295783600161423360,Queensland's flood crisis deepens - The Austra...,relevant
1387,295828335290884096,Premier Campbell Newman has launched Queenslan...,relevant
1388,295412327640080384,Waiting out the storm with slipped_diss @ Ko...,relevant
1389,296100614469996544,breaking news Photos: Flood water rises in Aus...,relevant
1390,295681670592471042,.....the rowing club next to out apartment blo...,relevant
...,...,...,...
3006,296348802871349248,Thoughts go out to the flood victims of Queens...,relevant
3007,296060105147953154,#leimo http://t.co/WHTlPNTd Keith Urban's Bris...,relevant
3008,296879372051312640,RT @350: No end in sight for Australia flood v...,relevant
3009,296786110426791936,Queensland Treasurer Tim Nicholls spoke to Ste...,relevant
3010,295683502895165440,RT @GrillTeam: The Queensland government has s...,relevant

In [6]:
pd.set_option('max_colwidth', 200)

dataset.loc[dataset['label'] == 'relevant'][['text']]

                                                                                                                                              text
1386  Queensland's flood crisis deepens - The Australian - by: Anonymous ... Sydney Morning Herald Queensland's flood cris... http://t.co/foDjHCRy
1387     Premier Campbell Newman has launched Queensland Flood Appeal 2013 with $1 million donation to Red Cross. Visit http://t.co/q53GIuR4 to...
1388                                                              Waiting out the storm  with slipped_diss  @ Kookaburra Cafe http://t.co/Pwubs60t
1389                                                                   breaking news Photos: Flood water rises in Australia:  http://t.co/aEvC8ZDu
1390                                                            .....the rowing club next to out apartment block is underwater, warm &amp; wet....
...                                                                                                                                            ...
3006                                      Thoughts go out to the flood victims of Queensland and NSW. Band together and fight on people's. #floods
3007     #leimo http://t.co/WHTlPNTd Keith Urban's Brisbane, Australia Concert Postponed Due to Flood... http://t.co/24qAoCyN @Leimo @crowealexand
3008    RT @350: No end in sight for Australia flood victims. Brisbane at risk of running out of drinking water: http://t.co/1yAnwVv1 #Connect ...
3009                                 Queensland Treasurer Tim Nicholls spoke to Steve Austin today about flood disaster funds http://t.co/Auk4dzTK
3010           RT @GrillTeam: The Queensland government has set up an information line for the flood crisis.. the number is 1800 173 349 #qldflood

[1625 rows x 1 columns]

In [7]:
heartquake_df = dataset.loc[dataset['label'] == 'relevant'][['text']].sample(20)

heartquake_df.to_csv('datasets/floods.csv')